<div class="mt-4">
  <ul>
    <li
      *ngFor="let skill of wantedSkills; let i = index"
      class="inline-block bg-gray-200 px-3 py-1 rounded-md mr-2 mb-2"
    >
      {{ skill }}
      <svg
        (click)="removeSkill(i)"
        class="w-4 h-4 mr-1 inline-block"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6 18L18 6M6 6L18 18"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </li>
  </ul>
</div>
