numpy
pandas
tldextract
beautifulsoup4
Flask
googlesearch_python
numpy
pandas
python_dateutil
requests
scikit_learn
whois
gunicorn
flask
flask_cors
pyresparser
spacy==2.3.5
nltk

# After installation run post_installation.py to finish setup a drari