#? python==3.9.19

numpy
pandas
tldextract
beautifulsoup4
Flask
googlesearch_python
numpy
pandas
python_dateutil
requests
scikit-learn==1.4.1.post1
whois
gunicorn
flask
flask_cors
pyresparser
spacy==2.3.5
nltk

#! After installation run post_installation.py to finish setup a drari